﻿<!DOCTYPE html>
<html lang="fr" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Git Encourage Contributors</title>
    
    <link href="../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Content/loading.css" rel="stylesheet" type="text/css" />

    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    
    <script src="../app.js"></script>
    <script src="../Utilities/Utils.js"></script>
    <script src="../Services/GitHub/ContributorsGitHubService.js"></script>
    <script src="../Services/GitHub/PullRequestGitHubService.js"></script>
    <script src="../Services/GitHub/RepoGitHubService.js"></script>
    <script src="../Services/GitHub/RecommendationService.js"></script>
    <script src="../Services/GitHubService.js"></script>
    <script src="../Controllers/IntegratorController.js"></script>
    <script src="../Controllers/ContributorController.js"></script>
    <script src="../Controllers/NewContributorController.js"></script>
    
    

</head>
<body>
    <div class="container" ng-controller="ContributorController">
        <header>
            <div class="jumbotron">
                <h2>Contributors by ratio of pull request</h2>
                <p>This web site allow to encourage the contributors of your repository. You just need to specify the url of your repository to the text box.</p>
                <p>If the button for reviving a contributor is disabled it's because his email is not available.</p>
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="url">Url :</label>
                            <input id="url" type="url" class="form-control" placeholder="Url" ng-model="repositoryUrl">
                        </div>
                        <div class="form-group">
                            <label for="visitorLogin">Visitor login :</label>
                            <input id="visitorLogin" type="text" class="form-control" placeholder="Visitor login" ng-model="visitorLogin">
                        </div>                        
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="SubmitContributors()" ng-show="!isLoading">
                            Submit
                        </button>
                        <button title="Recommend the projects of the best contributor in function of your preferences" class="btn btn-success" ng-click="RecommendContributors()" ng-show="!isLoading">
                            Recommend me some prjects
                        </button>
                        <button class="btn btn-success" ng-show="isLoading">
                            <span class="glyphicon glyphicon-refresh spinning"></span> Loading...(Get information and calculating information. It can take a moment.)
                        </button>
                    </div> 
                </form>
                <p ng-show="!isLoading">Visitor favorite language : {{visitorFavoriteLanguage}}</p>
                <p ng-show="!isLoading">Number of contributor matching with your parameters : {{contributors.length}} </p>
            </div>
        </header>
        <section id="contributor_section" ng-show="!isLoading">
            <article ng-show="contributors.length">
                <div class="row">
                    <div class="col-sm-2 col-md-3" ng-repeat="contributor in contributors">
                        <div class="thumbnail">
                            <a ng-href={{contributor.html_url}}><img ng-src={{contributor.avatar_url}} class="img-responsive" width="200" alt="Profile picture" /></a>
                            <div class="caption text-center">
                                <a ng-href={{contributor.html_url}}><h3>{{contributor.login}}</h3></a>
                                <p title="In the time slected">Total pull request : {{contributor.pullRequest}}</p>
                                <p title="In the time slected">Total pull request accepted : {{contributor.pullRequestAccepted}}</p>
                                <p>Ratio : {{contributor.ratio}}</p>
                                <p title="This ratio take into account the participation">Ratio revised : {{contributor.ratioRevised}}</p>
                                <p>Repo #1 : <a href="{{contributor.repo1.html_url}}">{{contributor.repo1.name}}</a></p>
                                <p>Repo #2 : <a href="{{contributor.repo2.html_url}}">{{contributor.repo2.name}}</a></p>
                                <p>Repo #3 : <a href="{{contributor.repo3.html_url}}">{{contributor.repo3.name}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</body>
</html>
