﻿<!DOCTYPE html>
<html lang="fr" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Git Encourage Contributors</title>
    
    <link href="../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Content/loading.css" rel="stylesheet" type="text/css" />

    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    
    <script src="../app.js"></script>
    <script src="../Utilities/Utils.js"></script>
    <script src="../Services/GitHub/ContributorsGitHubService.js"></script>
    <script src="../Services/GitHub/PullRequestGitHubService.js"></script>
    <script src="../Services/GitHub/RepoGitHubService.js"></script>
    <script src="../Services/GitHub/RecommendationService.js"></script>
    <script src="../Services/GitHubService.js"></script>
    <script src="../Controllers/IntegratorController.js"></script>
    <script src="../Controllers/ContributorController.js"></script>
    <script src="../Controllers/NewContributorController.js"></script>
    
    

</head>
<body>
    <div class="container" ng-controller="IntegratorController">
        <header>
            <div class="jumbotron">
                <h2>Contributors by pull request</h2>
                <p>This web site allow to encourage the contributors of your repository. You just need to specify the Github url of your repository to the text box.</p>
                <p>If the button for reviving a contributor is disabled it's because his email is not available.</p>
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="url">Url :</label>
                            <input id="url" type="url" class="form-control" placeholder="Url" ng-model="repositoryUrl">
                        </div>
                        <button class="btn btn-default" ng-click="AdvancedResearch()">Advanced research</button>
                        <div class="form-group" ng-show="isAdvancedResearch" >
                            <label for="endDate">Limit date of created pull request to select from now to this date :</label>
                            <input id="endDate" type="date" class="form-control" name="input" ng-model="endDate" placeholder="yyyy-MM-dd  ">
                        </div>
                        <div class="form-group" ng-show="isAdvancedResearch" >
                            <label>Date of last pull request of contributors. You will see the contributors from this date and after :</label>
                            <input type="date" class="form-control" name="input" ng-model="startDate" placeholder="yyyy-MM-dd">
                        </div>                        
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="LoadRepository()" ng-show="!isLoading && isAdvancedResearch" >
                            Submit
                        </button>
                        <button class="btn btn-success" ng-show="isLoading">
                            <span class="glyphicon glyphicon-refresh spinning"></span> Loading...(Get information and calculating information. It can take a moment.)
                        </button>
                    </div>
                    <div class="form-group" ng-show="contributors.length && !isLoading && isAdvancedResearch" >
                        <button class="btn btn-default" ng-click="SortByRatio()">Sort by Ratio</button>
                        <button class="btn btn-default" ng-click="SortByRatioRevised()">Sort by Ratio revised</button>
                        <button class="btn btn-default" ng-click="SortByTotalPR()">Sort by Total pull request</button>
                        <button class="btn btn-default" ng-click="SortByTotalPRAccepted()">Sort by Total pull request accepted</button>
                        <button class="btn btn-default" ng-click="DisplayNonPullRequestContributor()">Show non pull request contributor</button>
                    </div> 
                    <div class="form-group">
                        <button title="On the last year in function of their revised ratio" class="btn btn-default" ng-click="TopContributors()">Top(20) contributors</button>
                        <button title="On the last 3 months" class="btn btn-default" ng-click="ActifContributors()">Actif contributors</button>
                        <button title="Not actif since 3 months to 6 months" class="btn btn-default" ng-click="DemotivatedContributors()">Demotivated contributors</button>
                        <button title="Not actif since 6 months to 12 months" class="btn btn-default" ng-click="ExitContributors()">Almost left contributors</button>
                        <button title="Have maked their first commit in the last 3 months" class="btn btn-default" ng-click="NewContributors()">New contributors</button>
                    </div> 
                </form>
                <p ng-show="!isLoading">Number of contributor matching with your parameters : {{contributors.length}} </p>
            </div>
        </header>
        <section id="contributor_section" ng-show="!isLoading">
            <article ng-show="contributors.length">
                <div class="row">
                    <div class="col-sm-2 col-md-3" ng-repeat="contributor in contributors">
                        <div class="thumbnail">
                            <a ng-href={{contributor.html_url}}><img ng-src={{contributor.avatar_url}} class="img-responsive" width="200" alt="Profile picture" /></a>
                            <div class="caption text-center">
                                <a ng-href={{contributor.html_url}}><h3>{{contributor.login}}</h3></a>
                                <p title="In the time slected">Total pull request : {{contributor.pullRequest}}</p>
                                <p title="In the time slected">Total pull request accepted : {{contributor.pullRequestAccepted}}</p>
                                <p>Ratio : {{contributor.ratio}}</p>
                                <p title="This ratio take into account the participation" >Ratio revised : {{contributor.ratioRevised}}</p>
                                <p>Last PR : {{contributor.dateLastPullRequestsString}}</p>
                                <h2 class="text-center"><a ng-href="{{contributor.email ? 'mailto:' + contributor.email + '?subject=Reviving your contribution to the repository : ' + repositoryUrl : ''}}" role="button" class="btn btn-primary btn-lg" data-toggle="modal" ng-disabled="!contributor.email">Reviving the contributor</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</body>
</html>
